.list-group {
  max-height: 300px;
  overflow-y: auto;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item.active {
  background-color: #007bff;
  color: #fff;
}

.card {
  margin-top: 20px;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
}

.card-text {
  margin-bottom: 5px;
}

